{{ define "main" }}

{{ partial "page-title.html" . }}

{{ range .Site.Data.books_read.books_read.item }}
<div id="{{ replace (replace (replace (replace (replace (replace .title " " "_") "." "_") "++" "_plusplus") "#" "_sharp") "/" "_slash_") "-" "_dash_" }}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{.title}}</h2>
        </div>
        <p>{{.description | markdownify}}</p>
    </div>
</div>
{{ end }}

<section>
  <div class="uk-container uk-margin-xlarge-bottom">

    <div uk-filter="target: .js-filter">

      <ul class="uk-subnav uk-subnav-pill uk-subnav-divider">
        <li uk-filter-control><a href="#">All</a> </li>
        {{ range .Site.Data.books_read.books_read.tags }}

        <li uk-filter-control="[data-tags*='{{.value}}-']"><a href="#">{{.label}}</a></li>

        {{end}}
      </ul>

      <ul class="js-filter uk-child-width-1-1 uk-child-width-1-4@m  uk-text-center" uk-grid uk-height-match="target: > li > div > .fixy">
        {{ range sort .Site.Data.books_read.books_read.item "title" }}
        <li uk-toggle="target: #{{ replace (replace (replace (replace (replace (replace .title " " "_") "." "_") "++" "_plusplus") "#" "_sharp") "/" "_slash_") "-" "_dash_" }}" data-tags="{{delimit .tags  "-"}}-">
          <div class="uk-card uk-card-default" style="position: relative">
            <div class="fixy">
            <div class="uk-card-media-top">
              <img class="contain experience" src="{{.image | absURL}}" alt="">
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">{{.title}}</h3>
              {{if ne .edition 0}}
                <p>{{.edition}} edition</p>
              {{end}}
              <p>{{.author}}</p>
            </div>
            </div>


            <div class="uk-card-footer">
              <a href="{{.Permalink| relURL}}" class="uk-button uk-button-text">Read more</a>
            </div>
          </div>
        </li>
        {{end}}

      </ul>

    </div>
  </div>


</section>

{{ end }}